# 변수
    – 데이터를 담는 메모리 공간     
    – 값의 의미를 나타내는 이름

## 변수 선언 및 대입(할당) 구문
    – 변수이름 = 값

In [1]:
# 변수
name = "홍길동" # "홍길동"이라는 값을 name이라는 변수에 대입.
                # 이름이 name인 공간이 메모리에 없으면 새로 만들고 대입. 있으면 공간에 대입한다.

In [2]:
print(name) #print(값) : ()안의 값을 출력하는 함수

홍길동

In [3]:
age = 25

In [4]:
print(age) # age 변수의 값을 출력

25

In [5]:
age = 50  # age 변수의 값을 50으로 대체(재할당)

In [6]:
print(age)

50

In [7]:
print(name)

홍길동

In [8]:
name = '이순신'

In [9]:
print(name)

이순신

In [10]:
age = age + 20  #1. age 변수가 가진 갑솨 20을 더하는 처리
          #2. 1에서 처리한 값을 age 변수에 대입

In [11]:
print(age)

70

In [12]:
age2 = age - 40

In [13]:
print(age2)

30

In [14]:
print(age)

70

In [15]:
print(address) # 이름이 address인 변수의 값을 출력 => 없는 변수를 사용할 경우 에러 발생 - NameError

NameError: name 'address' is not defined

In [ ]:
age = 30

In [16]:
Age = 50

In [17]:
print(age, Age) #두개의 값을 한번에 출력

70 50

In [18]:
주소 = '서울시 서초구 서초동' #변수명으로 한글 가능
print(주소)

서울시 서초구 서초동

In [19]:
우리집_주소 = '서울시 강남구' #특수문자는 "_" 사용가능 "_"는 단어구분자로 사용. (snake 표기법)

In [20]:
print(우리집_주소)

서울시 강남구

In [21]:
my_email_address = 'abc@abc.com'

In [22]:
# myEmailAddress = 'a@a,com' # camel 표기법

## 변수 명명 규칙
    – 일반 문자 :  영어 알파벳 뿐 만 아니라 한글 한자 등 모든 일반 문자 사용가능
        - 영어의 경우 대소문자 구분
    - ), 숫자 , 특수 문자는 _(underscore) 만 가능
    – 숫자는 두번째 글자부터 가능
    – 예약어 사용 불가

In [23]:
5age = 30 # 변수명 작성 시 숫자는 문자 뒤에 ∴ 타당하지 않는 변수(오류 발생)

SyntaxError: invalid syntax (Temp/ipykernel_13496/900143823.py, line 1)

In [24]:
# 여려개 변수에 같은 값을 대입
a = 10
b = 10
c = 10

In [25]:
a = b = c = 20

In [26]:
print(a, b, c)

20 20 20

In [27]:
age1 = age2 = age3 = age4 = age5 = 0
print(age1, age2, age3, age4, age5)

0 0 0 0 0

In [28]:
#여러 개의 변수에 다른 값을 대입
a = 10
b = 20
c = 30

In [29]:
# 듀플대입
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [30]:
# 변수의 개수와 값의 개수는 일치해야 한다.
a, b, c, = 1, 2

ValueError: not enough values to unpack (expected 3, got 2)

In [31]:
age1, age2, age3, age4 = 50, 60, 70, 80
print(age1, age2, age3, age4)

50 60 70 80

In [32]:
# 변수 삭제
del age1
print(age1)

NameError: name 'age1' is not defined

## 동적 타입 언어
    – 변수의 데이터 타입을 실행 시점에 결정
    - 변수 선언 시 데이터 타입을 미지정
        ∴ 그래서 같은 변수에 서로 다른 타입의 값들 재할당 가능

In [33]:
#동적타입언어 => 하나의 변수에 다양한 타입의 값들을 대입할 수 있다.
age = 20 # 정수
print(age)
age = 12.5 #실수
print(age)
age = '가나다라' #문자열
print(age)

20
12.5
가나다라

## 정적 타입 언어
    - 변수의 데이터 타입이 선언시점에 결정되어 하나의 타입의 값만 저장

In [34]:
# 정적타입언어 변수에 타입을 고정하여 같은 타입의 값들만 저장.
int age = 20

age = '스무살' # 정수 선언으로 문자열은 대입 불가 따라서 에러 발생

SyntaxError: invalid syntax (Temp/ipykernel_13496/2477199765.py, line 2)

###  type
    - 변수나 값의 데이터 타입을 확인하는 함수

In [35]:
# str : 문자열
a = '가나다라'
type(a)

str

In [36]:
# int : 정수
b = 30
type(b)

int

In [37]:
# float : 실수
c = 3.14
type(c)

float

# 데이터 타입

## 숫자형

In [38]:
f1 = 0.5  
f2 = 356.7
print(f1, f2)

0.5 356.7

In [39]:
# 정수부분이 0인 경우 0은 생략가능
f3 = .5 
print(f3)

0.5

### 지수표기법

In [40]:
f4 = 3e10 # 3 *10^5
print(f4)

30000000000.0

In [41]:
f5 = 3246e5
print(f5, type(f5))

324600000.0 <class 'float'>

In [42]:
f6 = 3e-3 # 3 * 10^-3
print(f6)

0.003

### 산술연산자
    - '+' : 더하기
    - '-' : 빼기
    - '*' : 곱하기
    - '/' : 나누기
    - '**' : 제곱
    - '//' : 몫
    - '%' : 나머지

In [43]:
print(2**5) # 제곱
print(10/3) # 나누기
print(10//3) # 몫
print(10%3) # 나머지

32
3.3333333333333335
3
1

In [44]:
# num이 5의 배수인지 확인하는 법
num = 100
print(num%5)

0

## 논리형
    - 참 거짓을 표현 하는 값
        - True : 참
        - False : 거짓
    - 주로 조건문에서 많이 사용

In [45]:
b1 = True
b2 = False
print(b1, b2)

True False

In [46]:
# control + / : 주석
# bool(값) 다른 타입의 값을 논리형으로 변환
# 빈문자열, 0, none => False
print(bool(''), bool('abc'), bool(' '))
print(bool(0), bool(0.0), bool(50), bool(-50))
print(bool(None))

False True True
False False True True
False

### 비교연산자
    - '==' : 같다
         - '=' : 대입연산자
    - '!=' : 같지 않다
    - '>' : 크다
    - '>=' : 크거나 같다
    - '<' : 작다
    - '<=' : 작거나 같다

In [47]:
# ! : 부정(not)의 뜻
print(5 == 10)
print(10 ==10)
print(5 != 10)
print(10 !=10)

False
True
True
False

In [48]:
# 문자열인 경우 사전식 비교로 나중에 나오는 글자가 크다
print('a' > 'b')
print(ord('a'), ord('b'))

False
97 98

In [49]:
# 특수문자 < 숫자 < 영문자 < 한글
print(ord('#'), ord('0'), ord('A'), ord('a'), ord('ㄱ'))

35 48 65 97 12593

### 논리연산자
    - '&' : and 
    - '|' : or
    - '^' : 두 값이 다를 경우 True, 같으면 False
    - 'not' : 피연산자를 반대로 부정

In [50]:
#### num이 5 ~ 20 사이의 숫자인가?
num = 30
result1 = (num > 5) & (num < 20) 
print(result1)
print(not result1)
result2 = (num < 5) | (num > 20) 
print(result2)
print(not result2)

False
True
True
False

In [51]:
True ^ False

True

In [52]:
True ^ True

False

### 조건연산자 (삼항 연산자)
    – 조건이 True이거나 False이냐에 따라 결과값을 반환하는 연산자

In [53]:
num1 = 10
var1 = '양수' if num1 >= 0 else '음수'
print(var1)

num2 = -10
var2 = '양수' if num2 >= 0 else '음수'
print(var2)

양수
음수

### None
    – 아무 값도 없음을 나타내는 값
    – 다른 언어에서는 주로 NULL 을 사용한다

In [54]:
a = None
print(a)

None

## 문자열

### Escape 문자
    - 모든 프로그래밍 언어에서 사용하는 표준
    - 키보드에는 있지만 글자로 표현할 수 없는 문자를 표현하기 위한 문자
    - '\문자'형식
        - '\b' : Back space
        - '\t' : Tab
        - '\n' :  Enter
        - '\\' : \
        = '\'' : 작은 따옴표. 문자열 감싸는 작은 따옴표와 구분할 때 사용
        - '\"' : 큰 따옴표. 문자열 감싸는 큰 따옴표와 구분할 때 사용
        - '\r' : Carriage return (커서를 맨 앞으로 이동)

In [55]:
print('abc\bf')
print('abc\ndef\nghi')
print('abc\tdef')

abcf
abc
def
ghi
abc	def

In [56]:
print('c:\Windows\System32\cmd.exe') # 역슬래쉬를 표시할 수 없음
print('c:\\Windows\\System32\\cmd.exe') # 역슬래쉬를 표시하려면 \를 2번(\\)
print(r'c:\Windows\System32\cmd.exe') # r-string : escape문자의 \를 무시

c:\Windows\System32\cmd.exe
c:\Windows\System32\cmd.exe
c:\Windows\System32\cmd.exe

In [57]:
# print('I'm a boy') 
print("I'm a boy")
print('I\'m a boy')

I'm a boy
I'm a boy

In [58]:
# 문자열 + 문자열
print('a' + 'b')

ab

In [59]:
name = '홍길동'
print('이름 : ' + name)

이름 : 홍길동

In [60]:
age = 20 
print('나이 : ' + age) # 문자열끼리만 가능하기 때문에 20(age의 값)은 나올 수 없다

TypeError: can only concatenate str (not "int") to str

In [61]:
age = 20 
print('나이 : ' + str(age))

나이 : 20

In [62]:
# 문자열*n : 문자열을 n회 반복
print('-'*5)

-----

In [63]:
# len(문자열) : 글자수
name = '홍길동'
print(name, len(name))

홍길동 3

In [64]:
add = "서울시 서초구 서초동"
r1 = '서초구' in add # add 내 '서초구'라는 단어가 있는지
r2 = '강남구' in add # add 내 '강남구'라는 단어가 있는지
print(r1, r2)

True False

In [65]:
print('a', 20, '30') # 출력하려는 값이 복수일 경우 ,를 구분자로 해서 나열
print('a', 20, '30', sep ='|') # sep : 구분을 출력하는 문자를 설정

a 20 30
a|20|30

In [66]:
# 출력할 값뒤 엔터를 기본적으로 붙인 후 출력한다. 따라서 다음 출력은 다음줄에 나온다.
print('abc')
print('def')

abc
def

In [67]:
# end : 출력 후 다음 표시방법
print('abd', end = '-') 
print('def')

abd-def

## indexing
    - 문자열의 각 문자는 index 번호를 가진다.
    – index 는 0 부터 시작한다.
    – 문자열 [ index ]
        - index 의 글자를 조회
        - index를 음수로 주면 뒤에서부터 조회
        - 변경은 안된다.

In [68]:
s = "안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [69]:
print('2번 index 글자(3번째)', s[2])
print('5번 index 글자(6번째)', s[5])
print('뒤에서 2번째 글자 : ', s[-2])
print(s[6])
print(s[7], s[-6])

2번 index 글자(3번째) 하
5번 index 글자(6번째) .
뒤에서 2번째 글자 :  다

반 반

In [70]:
s[3] = '가' # index를 이용해 문자를 변경할 수 없다.

TypeError: 'str' object does not support item assignment

## slixing
    - 문자열의 index의 범위로 문자열을 조회
    - 문자열 [ 시작 index : 종료 index : 간격 ]
    - 0 번 index 부터 조회 시 시작 index 는 생략가능
    - 마지막 index 까지 (끝까지) 조회 시 종료 index 는 생략 가능
    - 종료 index > 시작 index, 간격을 음수로 하면 역으로 반환한다

In [71]:
s = 'abcdefghijklmn'
print(len(s)) #14글자 : index 0 ~ 13

14

In [72]:
s[2:10:2] #범위 2 ~ 10-1(9), 간격 : 2 (2, 4, 6, 8)

'cegi'

In [73]:
s[2:10] # 간격 생락 시 기본값 : 1, ":" 도 생략가능

'cdefghij'

In [74]:
s[:10] # 시작 생략 기본값 : 0 (0 ~ 9)

'abcdefghij'

In [75]:
s[10:] # 종료 생략 : 마지막 index 까지

'klmn'

In [76]:
s[::3]

'adgjm'

In [77]:
s[5:1] # 시작 : 5 ~ 종료 : 2 , 간격이 1이기 때문에 다음 index는 6이라 인식하지 못함.

''

In [78]:
s[5:1:-1] # 역행하려면 간격을 -1로 설정 # 역행 시 마지막 범위는 +1

'fedc'

In [79]:
s[::-1]

'nmlkjihgfedcba'

In [80]:
s[-2:3:-1]

'mlkjihgfe'

### f-string
    -  파이썬 3.6에서 추가된 형식
    - 값을 넣을 자리에 {변수명} 을 이용해 변수가 가진 값을 문자열에 추가한다.
    - 구문 : f” “
    - 변수는 { } 안에 넣는다

In [81]:
# formatting 문자열
name1, age1, address1 = '홍길동', 10, '서울'
name2, age2, address2 = '이순신', 20, '인천' 
name3, age3, address3 = '강감찬', 30, '부산'

In [82]:
info = '이름 : ' + name1 + '\n나이 : ' + str(age1) + ' 세\n주소 : ' + address1
print(info)

이름 : 홍길동
나이 : 10 세
주소 : 서울

In [83]:
#{} : 나중에 값이 들어갈 자리
info_layout = '이름 : {}\n나이 : {}세\n주소 : {}'

info1 = info_layout.format(name1, age1, address1)

In [84]:
print(info_layout)

이름 : {}
나이 : {}세
주소 : {}

In [85]:
print(info1)

이름 : 홍길동
나이 : 10세
주소 : 서울

In [86]:
print(info_layout.format(name2, age2, address2))
print(info_layout.format(name3, age3, address3))

이름 : 이순신
나이 : 20세
주소 : 인천
이름 : 강감찬
나이 : 30세
주소 : 부산

In [87]:
print('이름 : {}\n나이 : {}세\n주소 : {}'.format(name1, age1, address1))

이름 : 홍길동
나이 : 10세
주소 : 서울

In [88]:
# {0} : 첫번째 값, {1} : 2번째 값
print('이름 : {0}\n나이 : {1}세\n주소 : {2}'.format(name1, age1, address1))

이름 : 홍길동
나이 : 10세
주소 : 서울

In [89]:
print('이름 : {1}\n나이 : {0}세\n주소 : {2}'.format(name1, age1, address1))

이름 : 10
나이 : 홍길동세
주소 : 서울

In [90]:
print('이름 : {}\n나이 : {}세\n주소 : {}\n이름 : {}'.format(name1, age1, address1, name1))

이름 : 홍길동
나이 : 10세
주소 : 서울
이름 : 홍길동

In [91]:
# 동일한 값을 여러군데에서 사용할 경우
print('이름 : {0}\n나이 : {1}세\n주소 : {2}\n이름 : {0}'.format(name1, age1, address1))

이름 : 홍길동
나이 : 10세
주소 : 서울
이름 : 홍길동

In [92]:
# {name} : 괄호의 이름 지정. 값 전달시 괄호이름 = 값
print('이름 : {name}\n나이 : {age}세\n주소 : {addr}'.format(name = name1,
                                                              age = age1, 
                                                              addr= address1))

이름 : 홍길동
나이 : 10세
주소 : 서울

In [93]:
# 형식문자를 이용한 문자열 formatting
# %s : string, %d : int, %f : float
name, age, weight = '홍길동', 23, 72.7
info = '이름 : %s, 나이 :%d, 몸무게 : %.1f' % (name, age, weight) # %f 사이에 .n을 쓰면 소수점 n자리만큼 출력
print(info)

이름 : 홍길동, 나이 :23, 몸무게 : 72.7

In [94]:
# f-string
name, age, weight = '홍길동', 23, 72.7
print(f'이름 : {name}, 나이 : {age}, 몸무게 : {weight}')

이름 : 홍길동, 나이 : 23, 몸무게 : 72.7

In [95]:
print(f'이름 : {name:^5}, 나이 : {age}, 몸무게 : {weight}') # >,<,^ : 정렬. 정렬 후 최소자리수 설정. 값 < 최소자리수이면 공백을 만든다.

이름 :  홍길동 , 나이 : 23, 몸무게 : 72.7

In [96]:
weight = 81.156
print(f'이름 : {name:^5}, 나이 : {age}, 몸무게 : {weight:.2f}')

이름 :  홍길동 , 나이 : 23, 몸무게 : 81.16

In [97]:
# 타입 : f(실수), d(정수), s(문자열)
f'이름 : {name:.2f}'

ValueError: Unknown format code 'f' for object of type 'str'

###  String 주요 메소드
    - split(구분문자열) : 문자열을 기준으로 나눈다
    - strip(), lstrip(), rstrip() : 앞뒤(strip) 앞(lstrip) 뒤(rstrip) 공백 제거
    - replace('바꿀 문자열 ', '새문자열') : 바꿀 문자열을 새 문자열로 반환
    - in, not in (연산자) : 문자열 네 특정 문자열이 있는지 (in) 없는지 (not in) 확인. 결과는 boolean 출력
    - count('문자열') : 문자열이 몇 번 쓰였는지 확인
    - index(문자열)/find(문자열) : 문자열이 몇 번째 index 에 있는지 확인
    - upper(), lower() : 대문자(upper) 소문자(lower)로 변환
    - startswith('문자열')/endswith('문자열') : 문자열로 시작/끝 나는지 확인

In [98]:
# 문자열 관련 함수/메소드
s = '사과|귤|배|수박|복숭아'
s.split('|') # |를 기준으로 구분하여 토큰화

['사과', '귤', '배', '수박', '복숭아']

In [99]:
s2 = '   abc   '
print(s2)
print(s2.lstrip()) # 좌측공백 삭제
print(s2.rstrip()) # 우측공백 삭제
print(s2.strip()) # 양측공백 삭제

   abc
abc
   abc
abc

In [100]:
s3 = 'abcabcabc'
s3.replace('ab', '가')

'가c가c가c'

In [101]:
len(s3) # s3의 글자수
s3.count('a')

3

In [102]:
print(s3.index('a')) # index에서 a를 찾음
print(s3.index('가'))# 찾는 결과가 없으면 에러

0

ValueError: substring not found

In [103]:
print(s3.find('a'))
print(s3.find('가')) # 찾는 결과가 없으면 -1로 표시

0
-1

In [104]:
s4 = 'AbCdE'
print(s4.upper())
print(s4.lower())

ABCDE
abcde

In [105]:
addr = '서울시 서대문구'
print(addr.startswith('서울'))
print(addr.startswith('광주'))

True
False

In [106]:
url = 'www.naver.com'
print(url.endswith('.com'))
print(url.endswith('.net'))

True
False

# 연습 문제

In [107]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.

주민번호 = "901211-1027213"
print(주민번호[:6])

print(주민번호.split('-')[0])

901211
901211

In [108]:
#2. "안녕하세요" 를 10번 출력하시오.

print('"안녕하세요"'*10)

"안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요"

In [109]:
#3. 다음 문자열의 글자수를 출력하시오.
b = "akdlclkdkdlelql39du7마구0ㅌ"

print(len(b))

24

In [110]:
#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

c = '제품명 : ' + name + ', 가격 : ' + str(price) + ', 제조사 : ' + maker
print(c)

print('제품명 : {}, 가격 : {}, 제조사 : {}'.format(name, price, maker))
print(f'제품명 : {name}, 가격 : {price}, 제조사 : {maker}')
print('제품명 : %s, 가격 : %d, 제조사 : %s' % (name, price, maker))

제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG

In [111]:
#5
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

d = '수박' in fruits
print(d)

e ='있음' if '수박' in fruits else '없음'
print(e)

False
없음

In [112]:
#6 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.

print(str_value.count('a'))

print('a의 개수 : ',str_value.count('a'))

9
a의 개수 :  9