# 리스트
    - 순서가 있는 자료 구조
        - 원소들은 index로 관리한다.
    - 생성
        - `1 = [값, 값, 값, ...]`

In [1]:
l1 = [1, 2, 10, 30]
l2 = [10.7, 5, 'abc', True, None, 30]

In [2]:
# 조회 : indexing/slicing
# indexing
print(l1[0], l1[3])
print(l2[2], l2[4])

1 30
abc None

In [3]:
# 없는 index조회 => IndexError 발생
l1[10]

IndexError: list index out of range

In [ ]:
# index 내 원소 개수 조회
print('l1 원소개수 :', len(l1))
print('l2 원소개수 :', len(l2))

In [4]:
# slicing
print(l2[2:5])
print(l2[:3]) # 0~2 번 index
print(l2[3:])
print(l2[::2])

['abc', True, None]
[10.7, 5, 'abc']
[True, None, 30]
[10.7, 'abc', None]

In [5]:
# 리스트는 원소 변경 가능 => 대입연산
l2[0] = 100
l2

[100, 5, 'abc', True, None, 30]

In [6]:
l2[4] = '가나다'
l2

[100, 5, 'abc', True, '가나다', 30]

In [7]:
# slicing 이용 시 지정한 범위의 원소들을 한번에 변경 가능
l2[:3] = [1, 2, 3, 4, 5] # 0~2 번 index의 값을 변경
l2

[1, 2, 3, 4, 5, True, '가나다', 30]

In [8]:
l2[2:5] = [] # 특정 범위의 원소들 삭제
l2

[1, 2, True, '가나다', 30]

In [9]:
del l2[0] # 하나의 원소만 삭제 시 del 명령어 사용
l2

[2, True, '가나다', 30]

**리스트를 포함한 자료구조도 값**
- 리스트(자료구조)에 다른 자료구조들을 원소로 추가 가능. (리스트 안에 다른 리스트 중첩 가능)     
    ∴ 리스트 또한 하나의 값이다.

In [10]:
l3 = [[1,2], [3,4], [5,6]]

In [11]:
l4 = l3[0]
l4

[1, 2]

In [12]:
l4[1]

2

In [13]:
l3[0]
print(l3[0][1])
print(l3[2][0])

2
5

In [14]:
l4 = [
        [
            [1, 2], [3, 4], [5, 6]
        ],
        [
            [10, 20], [30, 40], [50, 60]
        ]
]

In [15]:
# l4에서 4를 꺼낼경우
print(l4[0])
print(l4[0][1])
print(l4[0][1][1])

l4[1][2][1]

[[1, 2], [3, 4], [5, 6]]
[3, 4]
4

60

## 리스트 연산자
    - 리스트 + 리스트 = 두 리스트를 합친 새로운 리스트 반환
    - 리스트 * n = 리스트를 n번 만큼 반복하여 합친 새로운 리스트 반환
    - 값 in 리스트, 값 not in 리스트 : 리스트 안에 값이 있는지(in), 없는지(not in) bool 값으로 변환

In [16]:
l1 = [1, 2, 3]
l2 = [10, 20, 30]
l3 = l1 + l2
print(l3)

[1, 2, 3, 10, 20, 30]

In [17]:
l4 = l1 * 3
l4

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
print(10 in l1)
print(1 in l1)

False
True

In [19]:
print(10 not in l1)
print(1 not in l1)

True
False

## 리스트  대입
    여러개의 변수에 리스트의 값을 한번에 대입

In [20]:
a, b, c = [1, 2, 3] # 변수와 리스트의 원소의 개수는 같아야 함
print(a, b, c)
print(a + b + c)

1 2 3
6

In [21]:
a, b, c = 10, 20, 30 # 튜플대입

## 주요함수
    - len() : 리스트의 원소 개수 반환
    - append(값) : 값을 마지막 원소로 추가
    - extend() : 리스트 인수로 받은 리스트의 원소들을 추가 ( + 연산효과)
    - sort() : 리스트 내 원소를 오름차순 정렬
    - sort(reverse = True) : 리스트 내내림차순 정렬
    - insert(index, 값) : 값을 index 에 삽입
    - remove(삭제할 값) : 리스트 내 값과 일치하는 일치하는 첫번째 원소를 삭제
    - index(값, [시작idx]) :  값의 index 번호를 반환
    - pop([index]) : index의 값을 삭제하면서 반환
    - count() : 값 매개변수에 전달한 값의 개수를 반환
    - clear() : 모든 원소 제거

In [22]:
print('원소개수 :', len(l1))

원소개수 : 3

In [23]:
l1.append(10) # list.append(추가값)
l1

[1, 2, 3, 10]

In [24]:
l1.append(20) # 함수를 누른 만큼 추가
l1

[1, 2, 3, 10, 20]

In [25]:
l1.extend([3, 4, 5]) # 리스트에 추가
l1

[1, 2, 3, 10, 20, 3, 4, 5]

In [26]:
l1 + [30, 40, 50] # l1과 [30, 40, 50]를 합친 새로운 리스트

[1, 2, 3, 10, 20, 3, 4, 5, 30, 40, 50]

In [27]:
# 정렬 - sorted : 원본 리스트를 변경하지 않고 정렬한 것만 보여줌
sorted(l1) # 오름차순
sorted(l1, reverse = True) # 내림차순

[20, 10, 5, 4, 3, 3, 2, 1]

In [28]:
print(l1)
l2 = sorted(l1)
print(l2)

[1, 2, 3, 10, 20, 3, 4, 5]
[1, 2, 3, 3, 4, 5, 10, 20]

In [29]:
# 리스트.sort() : 리스트 자체 정렬
l1.sort
l1

[1, 2, 3, 10, 20, 3, 4, 5]

In [30]:
l1.insert(3, '가나다') # index 3에 '가나다'를 삽입
l1

[1, 2, 3, '가나다', 10, 20, 3, 4, 5]

In [31]:
# del : index로 원소 삭제
del l1[0]
l1

[2, 3, '가나다', 10, 20, 3, 4, 5]

In [32]:
# 값으로 삭제
l1.remove('가나다')
l1

[2, 3, 10, 20, 3, 4, 5]

In [33]:
l1.remove(10) # 값이 다수인 경우 첫번째 값만 삭제
l1

[2, 3, 20, 3, 4, 5]

In [34]:
l1.count(10) # 값이 10인 원소가 몇개인지

0

In [35]:
l1.clear() # 모든원소 삭제
l1

[]

# 튜플(Tuple)
- 리스트 처럼 순서가 있는 자료구조
    - index (양수, 음수)로 원소를 관리
    - 원소 변경 불가능 (추가, 삭제, 변경)

In [36]:
t1 = (1, 2, 3, 4, 5)
t2 = 10, 20, 30, 40, 50 # 괄호 생략 가능

In [37]:
t1

(1, 2, 3, 4, 5)

In [38]:
t2

(10, 20, 30, 40, 50)

In [39]:
t3 = 10, '가', True
t3

(10, '가', True)

In [40]:
t4 = (100) # t4 변수로 인식
t4, type(t4), type(t3)

(100, int, tuple)

In [41]:
t5 =100, # 원소가 하나인 경우 뒤에 ,를 붙인다.
t6 = 100,
print(t5, t6)
print(type(t5),type(t6))

(100,) (100,)
<class 'tuple'> <class 'tuple'>

## 튜플대입

In [42]:
name, age, address = ('홍길동', 30, '서울')  #튜플 대입
print(name, age, address)
# name, age, address = ['홍길동', 30, '서울']  #리스트 대입

홍길동 30 서울

In [43]:
name, age, address = '홍길동1', 32, '서울1' #튜플 대입
print(name, age, address)

홍길동1 32 서울1

### indexing, slicing
    - 조회만 가능 (원소 변경 불가)

In [44]:
t7 = 100, 4, 8,20 , 20, 1, 8
t7[0], t7[3], t7[5]

(100, 20, 1)

In [45]:
t7[::2]

(100, 8, 20, 8)

In [46]:
t7[::-1]

(8, 1, 20, 20, 8, 4, 100)

## 연산자

In [47]:
10 in t7

False

In [48]:
10 not in t7

True

In [49]:
t1 + t2

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [50]:
t1 * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [51]:
t7

(100, 4, 8, 20, 20, 1, 8)

In [52]:
# 튜플 자체는 정렬 불가
sorted_t7 = sorted(t7) # 정렬된 새로운 리스트를 만들 수는 있음
sorted_t7

[1, 4, 8, 8, 20, 20, 100]

In [53]:
t7

(100, 4, 8, 20, 20, 1, 8)

# 딕셔너리
- 값을 key:value 쌍(pair)으로 모아서 관리하는 자료구조

In [54]:
# 생성
person1 = {'name':'홍길동', 'age':20, 'address': '서울'}
person2 = {'age':30, 'name':'이순신', 'address': '서울'}
person1

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [55]:
# 값 조회
print(person1['name'], person2['name'])
print(person1['age'], person2['age'])

홍길동 이순신
20 30

In [56]:
# 값 변경
person1['name'] = '박철웅' # 있는 key에 값을 대입하면 변경됨
person1

{'name': '박철웅', 'age': 20, 'address': '서울'}

In [57]:
person1['tel'] = '010-111-2222' # 없는 key에 값을 대입하면 추가가 됨
person1

{'name': '박철웅', 'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [58]:
person1['email'] # 없는 키로 조회 시 KeyError 발생

KeyError: 'email'

In [59]:
# dictionary.get('key') : key 조회
v = person2.get('age')
print(v)
# 없는 키값으로 조회하면 None(기본값). None대신 반환할 기본 값 설정 가능
w = person2.get('email')
print(w)
x = person2.get('email', '없음')
print(x)

30
None
없음

In [60]:
len(person1), len(person2)

(4, 3)

In [61]:
'박철웅' in person1

False

In [62]:
'name' in person1

True

## 주요 메소드
    - pop(Key) : Key 와 연결된 값을 반환하면서 삭제. Key가 없으면 KeyError 발생
    - clear() : 모든 원소 삭제
    - del dict[Key] : 특정 Key의 값을 삭제
    - get(Key, 기본값) : 키와 연결된 값을 반환한다. 단 찾는 키의 값이 없을 경우 기본값을 반환.기본값 생략 시 Key의 값이 없으면 None 반환
    - items() :  Key와 Value를 튜플로 묶어 리턴
    - keys() : Key값들만 모아서 리턴
    - values() : Value들만 모아서 리턴

In [63]:
person1.pop('name')

'박철웅'

In [64]:
person1

{'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [65]:
del person1['age']
person1

{'address': '서울', 'tel': '010-111-2222'}

In [66]:
person1.items()

dict_items([('address', '서울'), ('tel', '010-111-2222')])

In [67]:
person1.keys()

dict_keys(['address', 'tel'])

In [68]:
person1.values()

dict_values(['서울', '010-111-2222'])

# 집합(Set)
    - 중복을 허용하지 않는 자료구조
    - indexing과 slicing 미지원

In [69]:
s1 = {1, 1, 1, 2, 2, 2, 3, 3, 3, 'a', 'a', 'a', True, True, True, False, False, False}
s1

{1, 2, 3, False, 'a'}

In [70]:
# 1,True 같이 있거나 와 0, False 있는 경우 1, 0 으로 취급
s2 = {1, True}
s3 = {0, False}
print(s2)
print(s3)

{1}
{0}

In [71]:
s1[0] # set는 원소 하나를 조회하는 것이 불가 => 반복문 이용

TypeError: 'set' object is not subscriptable

## 연산자
    - 합집합
        ▪ 집합 | 집합
        ▪ 집합.union(집합)
    - 교집합
        ▪ 집합 & 집합
        ▪ 집합. intersection(집합)
    -  차 집합
        ▪ 집합 – 집합
        ▪ 집합.difference(집합)

In [72]:
1 in s1

True

In [73]:
1 not in s1

False

In [74]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

# 합집합
s3 = s1 | s2 
s4 = s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [75]:
# 교집합
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5, s6)

{3} {3}

In [76]:
# 차집합
s7 = s1 - s2
s8 = s1.difference(s2)
print(s7, s8)

{1, 2} {1, 2}

### 메소드
    - len(): Set의 원소 개수 조회
    - add(값) : 집합에 요소 추가
    - update(자료구조) : 한번에 여러 개의 요소를 추가
    – pop() : 값을 하나씩 반환하며 제거
    – remove(값) : 값 삭제 (값이 set내에 없으면 KeyError 발생)

In [77]:
# 추가
s3.add(10)
print(s3)
s3.add(10) # 있는 값을 추가해도 중복이 안됨
s3

{1, 2, 3, 4, 5, 10}

{1, 2, 3, 4, 5, 10}

In [78]:
s3.update([1, 2, 3, 100, 200, 300, 400])
s3

{1, 2, 3, 4, 5, 10, 100, 200, 300, 400}

In [79]:
v = s3.pop()
print(v)
s3

1

{2, 3, 4, 5, 10, 100, 200, 300, 400}

In [80]:
s3.remove(5) # s3 내 원소 중 5 삭제
s3

{2, 3, 4, 10, 100, 200, 300, 400}

In [81]:
s3.remove('가') # 없는 값 삭제시 KeyError

KeyError: '가'

In [82]:
var1 = [] # 빈 리스트
var2 = {} # 빈 dictionary
type(var2)

dict

# 자료구조 변환 함수
    - list(자료구조) : 자료구조를 List로 변환
    - tuple(자료구조) : 자료구조를 Tuple로 변환
    - set(자료구조) : 자료구조를 Set으로 변환
    - Dictionary로 변환하는 함수는 없다. ∵ key값이 없기 때문
    - 변경 대상 자료구조가 Dictionary인 경우 key값들만 모아서 변환
        - value 값을 변환 할 경우 : dictionary.values()로 value 값 추출 후 변환

In [83]:
t = 1, 2, 3, 10, 5, 10, 2
l = list(t)
l, type(l)

([1, 2, 3, 10, 5, 10, 2], list)

In [84]:
s = set(t)
s, type(s)

({1, 2, 3, 5, 10}, set)

In [85]:
t1 = tuple([1, 3, 10, 20, 11]) # list -> tuple
t1

(1, 3, 10, 20, 11)

In [86]:
d = {'a' :10, 'b': 20, 'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [87]:
set(d) # dict -> set

{'a', 'b', 'c'}

In [88]:
list(d) # dict -> list

['a', 'b', 'c']

In [89]:
tuple(d) # dict -> tuple

('a', 'b', 'c')

In [90]:
# dict(key = value, key = value) dictionary를 만들도록 도와주는 함수
d1 = dict(name = '홍길동', age = 20, address = '부산')
d1

{'name': '홍길동', 'age': 20, 'address': '부산'}

# 예제

In [91]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 

# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제 1 ~ 7)

In [92]:
#(1)  7번의 점수를 출력하세요 
jumsu[6]

80

In [93]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[:5]

[100, 90, 100, 80, 70]

In [94]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu[3:7]

[80, 70, 100, 80]

In [95]:
#(4) 짝수번째 점수를 출력하세요.
jumsu[::2] # index가 짝수인 값
jumsu[1::2]

[90, 80, 100, 90, 85]

In [96]:
#(5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [97]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20 #jumsu[-2]
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [98]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
jumsu2 = set(jumsu)
unique_jumsu = list(jumsu2)
print(jumsu2)
print(unique_jumsu)

{100, 70, 80, 20, 85, 90}
[100, 70, 80, 20, 85, 90]

In [99]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

In [100]:
#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.

# fruits.append("사과"), fruits.append("귤") 하나 씩 추가
fruits.extend(['사과', '귤'])
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [101]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.

# del fruits[0] : index를 이용한 삭제
fruits.remove("복숭아")
fruits

['수박', '딸기', '사과', '귤']

In [102]:
#문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..

#d = dict(이름 = '김민성', 나이 = 31, email = "a@a.com", 취미 = ['영화감상', '게임'], 결혼유무 = '미혼')

d = {
    '이름':'홍길동',
    '나이':20,
    'email':'a@b.com',
    '취미':['영화감상', '게임'],
    '결혼유무': '미혼'
}

In [103]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
d['이름'], d['email']

('홍길동', 'a@b.com')

In [104]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
d['취미'][1]

'게임'

In [105]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
d['체중'] = 75
d['키'] = 180
d

{'이름': '홍길동',
 '나이': 20,
 'email': 'a@b.com',
 '취미': ['영화감상', '게임'],
 '결혼유무': '미혼',
 '체중': 75,
 '키': 180}

In [106]:
#(14) 위 딕셔너리에서 나이를 제거하세요.
del d['나이']
d

{'이름': '홍길동',
 'email': 'a@b.com',
 '취미': ['영화감상', '게임'],
 '결혼유무': '미혼',
 '체중': 75,
 '키': 180}

In [107]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
d['email'] = 'b@b.com'
d

{'이름': '홍길동',
 'email': 'b@b.com',
 '취미': ['영화감상', '게임'],
 '결혼유무': '미혼',
 '체중': 75,
 '키': 180}