# 제어문
code의 흐름일 제어하는 구문

## 조건문 (분기문)
    - 프로그램이 명령문들을 실행하는 도중 특정 순서에서 흐름의 나눠져야 하는 경우 사용

In [1]:
num = int(input('정수 :'))
# 입력값이 0이면 '영입니다.'를 출력하려는 경우
# 단순 if문 : 특정 구문들을 실행할지 말지
if num == 0:
    print('영입니다.')
    print('zero')

print('종료') # 새로운 구문

정수 :0
영입니다.
zero
종료

In [2]:
# 입력값이 0이면 '0입니다.'를 출력, 0이 아니면 '0이 아닙니다.'를 출력
#if else 문 : 조건이 True False 에서 두가지의 일을 분기할 경우
num = int(input('정수 :'))
if num == 0:
    print('0 입니다.')
else:
    print('0이 아닙니다.')
    print(f'입력한 숫자는 {num} 입니다.')
   
print('종료합니다.')

정수 :1
0이 아닙니다.
입력한 숫자는 1 입니다.
종료합니다.

In [3]:
# 입력받은 값이 0이면 '0 입니다.'
#               양수이면 '양수입니다.'
#               음수이면 '음수입니다.'
# if elif : 조건이 여려개 일 경우
num = int(input('정수 :'))
if num == 0:
    print('0 입니다.')
elif num > 0:
    print('양수입니다.')
    print(f'입력한 숫자는 {num} 입니다.')
# elif num < 0:
else: # 위 조건이 모두 False인 경우 else문을 실행
    print('음수입니다.')
   
print('종료합니다.')

정수 :10
양수입니다.
입력한 숫자는 10 입니다.
종료합니다.

In [4]:
# num이 0이상인 경우 '양수입니다.'를 출력, 100 초과 시 '100보다 큽니다.'를 출력
num = 10
if num >= 0:
    print('양수입니다.')
elif num > 100:
    print('100보다 큽니다.') # 두개다 True이기 때문에 1개만 출력 됨

양수입니다.

In [5]:
# 두개의 조건문을 만족시키 위해 하나의 if문에 종속시켜 중첩시킨다.
num = 101
if num >= 0:
    print('양수입니다.')
    if num > 100:
        print('100보다 큽니다.')

양수입니다.
100보다 큽니다.

## 반복문

### while문
    - 조건이 True인 동안 구문을 반복

In [6]:
limit = int(input('반복횟수 :')) # 반복할 회차
count = 0 # 현재 몇번째 반복인지를 저장할 변수
while count < limit: # 현재 반복횟수가 limit보다 작을 때까지 반복
    count = count + 1
    print(f'{count}.안녕하세요')   
    print('-'*10)

반복횟수 :3
1.안녕하세요
----------
2.안녕하세요
----------
3.안녕하세요
----------

### for in 문
    - iiterable(자료구조, 문자열 등)이 가지고 있는 값들을 순환 조회할 때 사용

In [7]:
lst = [10, 5, 7, 9, 100, 50, 27, 123, 22, 90]
n1 = lst[0]
n2 = lst[1]
n3 = lst[2]

sum_result = n1 + n2 + n3
sum_result

22

In [8]:
# for 변수 in literable
#     반복구문
for num in lst:
    print(num) # for in 문의 반복구문은 iiteralble의 원소 하나씩 처리하는 코드
    print('-'*10)

10
----------
5
----------
7
----------
9
----------
100
----------
50
----------
27
----------
123
----------
22
----------
90
----------

In [9]:
for v in (10, 20, 30, 40):
#    print(v)
    print(v, end = ', ') # end : 출력 후 줄바꿈 대신 출력할 값.
print('종료')

10, 20, 30, 40, 종료

In [10]:
for v in {1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, }: # set 집합이므로 {1, 2, 3, 4, }
    print(v, end = '\t')

1	2	3	4

In [11]:
for v in dict(name = '홍길동', age = 20, address = '서울'): # dictionary: key 값만 조회
    print(v)

name
age
address

In [12]:
for v in '안녕하세요.abcde~': # dictionary: key 값만 조회
    print(v)

안
녕
하
세
요
.
a
b
c
d
e
~

In [13]:
d = dict(name = '홍길동', age = 20, address = '서울')
d

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [14]:
# dictionary에서 value를 조회할 경우 1
for key in d:
    print(d[key])

홍길동
20
서울

In [15]:
# dictionary에서 value를 조회할 경우 2
for v in d.values():
    print(v)

홍길동
20
서울

## continue, break
    - continue : 다음 반복을 실행
    - break : 반복 중지

In [16]:
# lst 값 중 2배수만 출력
for v in lst:
    if v % 2 == 0:
        print(v)

10
100
50
22
90

In [17]:
for v in lst:
    if v % 2 != 0: # 2의 배수가 아니면
        continue #나머지 반복구문 실행하지 않고 다음반복 실행
        print(v)

In [18]:
for v in lst:
    print(v)
    if v >= 100: # break할 조건
        break # 더이상 반복하지 않고 반복문을 끝 
    
print('end')

10
5
7
9
100
end

In [19]:
# 사용자로부터 글을 입력받아서 출력 'q!'를 입력 받으면 종료
while True:
    s = input()
    print('입력한 문자열 :', s)
    if s == 'q!':
        break

a
입력한 문자열 : a
b
입력한 문자열 : b
c
입력한 문자열 : c
q!
입력한 문자열 : q!

## for in 문 관련 함수
    - range() : 특정 값만큼 증감하는 연속된 숫자를 제공하는 literable을 생성

In [20]:
# nums = [1, 2, 3, 4, 5, ..., 100]
# range(시작숫자, 끝숫자, 증감치)
range(10, 100, 10) # 10 ~ 100-1까지 10씩 증가하는 연속된 값을 제공
                   # 생성된 값이 필요할때 까지 표사하진 않는다

range(10, 100, 10)

In [21]:
for i in range(10, 100, 10):
    print(i)

10
20
30
40
50
60
70
80
90

In [22]:
l = list(range(10, 100, 10))
l

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [23]:
tuple(range(10, 100, 10)), set(range(10, 100, 10))

((10, 20, 30, 40, 50, 60, 70, 80, 90), {10, 20, 30, 40, 50, 60, 70, 80, 90})

In [24]:
# 시작값이 종료보다 크고 증감치가 음수면 내림차순으로 제공
list(range(100, 10, -5)) # 100 ~ 10-(-1)

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15]

In [25]:
# 증감치 생략 : +1
list(range(1, 10)) # 1 ~ 9 1씩 증가

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# 시작값 생략 시 ,증감치도 같이 생략해야함: 0부터 시작
# 종료값은 생략불가
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# range() 전달하는 값이
    - 1개 : 종료값
    - 2개 : 시작값, 종료값
    - 3개 : 시작값, 종료값, 증감치

In [27]:
# range() : 특정 구문을 n번 반복하려 할 때 for in문과 함께 사용할 수 있다.
for _ in range(10): # 변수를 _러 명명하면 이 변수는 사용하지 않고
                     # 자리만 채운다는 의미로 사용.
    print('ABC')

ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC

- enumerate()<br>
    -Tuple로 (몇번쨰, 값) 묶어서 반환

In [28]:
l = [1, 2, 3, 4, 5]
for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [29]:
for i in enumerate(l, start=1): # start로 시작 값 설정 가능
    print(i, f'순번:{i[0]}, 값:{i[1]}')

(1, 1) 순번:1, 값:1
(2, 2) 순번:2, 값:2
(3, 3) 순번:3, 값:3
(4, 4) 순번:4, 값:4
(5, 5) 순번:5, 값:5

In [30]:
for i in enumerate(l, start=1): # start로 시작 값 설정 가능
    print(i, f'순번:{i[0]}, 값:{i[1]}')

(1, 1) 순번:1, 값:1
(2, 2) 순번:2, 값:2
(3, 3) 순번:3, 값:3
(4, 4) 순번:4, 값:4
(5, 5) 순번:5, 값:5

In [31]:
# enumerate()로 튜플 값을 대입
for idx, var in enumerate(l, start=1):
    print(f'{idx}. {var}')

1. 1
2. 2
3. 3
4. 4
5. 5

- zip(자료구조1, 자료구조2, ...) 같은 index값을 묶어서 정렬

In [32]:
# 같은 index의 값들이 같은 사람의 정보
names = ['홍길동', '이순신', '강감찬']
ages = [30, 40, 50]
address = ['서울', '인천', '수원']

In [33]:
for v in zip(names, ages, address):
    print(v)

('홍길동', 30, '서울')
('이순신', 40, '인천')
('강감찬', 50, '수원')

In [34]:
for name, age, addr in zip(names, ages, address): #튜플대입
    print(name, age, addr)

홍길동 30 서울
이순신 40 인천
강감찬 50 수원

In [35]:
emails = ['h@a.com', 'k@a.com', 'l@a.com', 'abc@a.com']
# 자료구조들의 원소 개수가 다를 경우 수가 적은 것에 맞춘다.
for name, age, addr, email in zip(names, ages, address, emails):
    print(name, age, addr, email)

홍길동 30 서울 h@a.com
이순신 40 인천 k@a.com
강감찬 50 수원 l@a.com

# 컴프리헨션
    - 기존 자료구조가 가진 원소들을 이용해 새로운 자료구조를 만드는 구문

In [36]:
l1 = [1, 2, 3, 4, 5, 5, 5]
# l1의 원소들을 5배한 값들로 구성된 리스트 생성
new_list = []
for i in l1:
    new_list.append(i * 5)
    
new_list

[5, 10, 15, 20, 25, 25, 25]

In [37]:
new_list2 = [i * 5 for i in l1] # 리스트 컴프리헨션
new_list2

[5, 10, 15, 20, 25, 25, 25]

In [38]:
new_set = {i * 5 for i in l1} # set 컴프리헨션
new_set

{5, 10, 15, 20, 25}

In [39]:
for i, v in enumerate(l1, start = 100):
    print(i, v)

100 1
101 2
102 3
103 4
104 5
105 5
106 5

In [40]:
# 딕셔너리 컴프리헨션
new_dict = {key:value*5 for key, value in enumerate(l1, start = 100)}
new_dict

{100: 5, 101: 10, 102: 15, 103: 20, 104: 25, 105: 25, 106: 25}

In [41]:
new_dict2 = {'key' + str(value):value for value in l1}
new_dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

In [42]:
s = ['a', 'b', 'c', 'abc'] # s의 값을 대문자로 변환한 값을 원소로 가지는 리스트, set

s2 = []
for v in s:
    s2.append(v.upper())
s2, s

(['A', 'B', 'C', 'ABC'], ['a', 'b', 'c', 'abc'])

In [43]:
s3 = [v.upper() for v in s] # mapping
s3

['A', 'B', 'C', 'ABC']

In [44]:
s4 = {v.upper() for v in s}
s4

{'A', 'ABC', 'B', 'C'}

In [45]:
s5 = {v:v.upper() for v in s}
s5

{'a': 'A', 'b': 'B', 'c': 'C', 'abc': 'ABC'}

In [46]:
s = ['a', 'b', 'c', 'abc', 'def', 'ak', 'r']
# s의 원소중 글자수가 1인 원소만 소문자를 대문자로 바꾼 값들을 가지는 배열
s2 = []
for v in s:
    if len(v) == 1: # 글자수가 1이면
        s2.append(v.upper())
    
s2

['A', 'B', 'C', 'R']

In [47]:
s3 = [v.upper() for v in s if len(v) == 1] # filtering
s3

['A', 'B', 'C', 'R']

In [48]:
s4 = {v.upper() for v in s if len(v) == 1} # filtering + mapping
s3
s4

{'A', 'B', 'C', 'R'}

- 자료구조 처리 
    - map : 자료구조 내 모든 원소를 처리하는 경우
    - filter : 자료구조 내 특정 조건에 따라 처리하는 경우

In [49]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

point = int(input('점수 : '))

if 101 > point > 90:
    print('A학점')
elif 91 > point > 80:
    print('B학점')
elif 81 > point > 70:
    print('C학점')
elif 71 > point > 60:
    print('D학점')
elif point < 61:
    print('F학점')
else:
    print(f'{point}는 잘못 된 점수입니다.')

점수 : 97
A학점

In [50]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를
#    5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.

id = input('ID : ')

if len(id) >= 5:
    print(f'{id}는 사용할 수 있습니다.')
else:
    print(f'{id}는 사용할 수 없는 ID 입니다.')

ID : abcd
abcd는 사용할 수 없는 ID 입니다.

In [51]:
# 3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를
#    인천,부산,광주,대구,대전,울산 이면 "광역시"를
#    나머지는 "일반도시."를 출력하세요.

city = input('도시명 : ')
label = None

if city == '서울':
    label = '특별시'
elif city in ['인천', '부산', '광주', '대구', '대전', '울산']:
    label = '광역시'
else:
    label = '일반도시'
print(f'{city}는(은) {label}입니다')

도시명 : 서울
서울는(은) 특별시입니다

In [52]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

import statistics
print("리스트 평균 :", statistics.mean(jumsu))

jumsu_sum = 0 # 점수의 합게를 저장할 변수
for i in jumsu:
    # jumsu_sum = jumsu_sum + i
    jumsu_sum += i

jumsu_mean = jumsu_sum/len(jumsu)
print('합계 :', jumsu_sum)
print('평균 :', jumsu_mean)

리스트 평균 : 89
합계 : 890
평균 : 89.0

In [53]:
i = 10
# i = i + 50
i += 50 # 복합대입연산자 : 특정변수를 연산한 값을 그 변수에 다시 대입할 경우 사용
print(i)

60

In [54]:
s = sum(jumsu) # sum(iterable) terable의 원소들의 합계를 반환
m = s/len(jumsu)
print(s, m)

890 89.0

In [55]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)

for idx, i in enumerate(jumsu):
    if i >= jumsu_mean:
        print(f'{idx}. 점수 : {i} - pass')
    else:
        print(f'{idx}. 점수 : {i} - fail')

0. 점수 : 100 - pass
1. 점수 : 90 - pass
2. 점수 : 100 - pass
3. 점수 : 80 - fail
4. 점수 : 70 - fail
5. 점수 : 100 - pass
6. 점수 : 80 - fail
7. 점수 : 90 - pass
8. 점수 : 95 - pass
9. 점수 : 85 - fail

In [56]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

print('최대값 :', max(jumsu))

max_value = 0 # 최대값을 저장할 변수
# 리스트의 원소와 max_value를 비교하여 원소가 크면 max_value 값을 변경
for value in jumsu:
    if value > max_value:
        max_value = value
print('최대값 :', max_value)

최대값 : 95
최대값 : 95

In [57]:
max(jumsu), min(jumsu) # it|erable의 최대값과 최소값

(95, 55)

In [58]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
for a in str_list:
    if a not in ['쥐', '토끼']:
        print(a)

소
호랑이
용
뱀

In [59]:
for a in str_list:
    if a in ['쥐', '토끼']:
        continue
    print(a)

소
호랑이
용
뱀

In [60]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

dan = int(input('단을 입력하시오 :'))
for i in range(1,10):
    print(f'{dan} X {i} = {dan * i}')

단을 입력하시오 :5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [61]:
#컴프리헨션

#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

[i * 2 for i in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [62]:
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

[(i, i * 10) for i in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [63]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

[i for i in lst2 if i % 3 == 0]

[3, 33, 21, 33, 60, 120]

In [64]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[i for i in file_name if i.endswith('.exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [65]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

# [i for i in file_name if len(i) >= 10]
[(i, len(i)) for i in file_name if len(i) >= 10]

[('mystroy.txt', 11), ('jupyter.bat', 11), ('function.exe', 12)]

In [66]:
#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]

[i.upper() for i in str_list], [i.lower() for i in str_list]

(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'])

In [67]:
[i for i in str_list if i.islower()],[i for i in str_list if i.isupper()]

(['c', 'g', 'h', 'k'], ['A', 'B', 'D', 'E', 'F', 'I', 'J'])

In [68]:
'A'.islower(), 'a'.islower()

(False, True)

In [69]:
'A'.isupper(),'a'.isupper()

(True, False)