In [1]:
s = input() # input 함수 호출
print(s) # print 함수 호출

hello world
hello world

In [2]:
i = int('100') # '100' : argument(인수) => 피연산자
print(i) # i의 100 -> int() 함수의 반환값

100

In [3]:
print('test')
j = print('test')
print(j) # print는 None 값

test
test
None

# 함수(Function)
- 사용자 정의 연산자
- 구문
```python
#[]: 옵션, ... 여러개
def 함수이름([매개변수, ...]):
    실행 구문들을 순서대로 작성
    ...
    [return value]
```
- 함수 이름
    - 규칙 : 변수와 동일
    - 관례 : 변수와 동이 (snake 표기)

In [4]:
# 함수 정의
# 정의된 함수는 사용하기 위해 반드시 메모리에 로딩되어야 함. => 실행, import
def say_hello():
    print('안녕하세요')
    print('hello~')

In [5]:
# 호출 : 함수명([argument])
# return 값이 잇는 함수 호출 : 변수 = 함수명([argument]) 
say_hello()

안녕하세요
hello~

In [6]:
# 매개변수가 있는 함수
def say_hello2(name): # name : 매개변수(parameter) -> 호출한 곳으로 부터 전달된 값(argument)을 받을 변수
    greeting = f'{name}님 반갑습니다.'
    print(greeting)

In [7]:
# 매개변수 가 있는 함수 호출 시 반드시 값이 있어야 한다.
say_hello2('홍길동')
say_hello2('이순신')
say_hello2('강감찬')

홍길동님 반갑습니다.
이순신님 반갑습니다.
강감찬님 반갑습니다.

In [8]:
# 반환값(return value)가 있는 함수
def say_hello3(name, age):
    greeting = f'{age}세 {name}님 환영합니다.'
    return greeting # greeting변수릐 값(처리결과)를 호출한 곳으로 전달 => 리턴값
                     # return : 호출한 곳으로 돌아가는 명령어.

In [9]:
g1 = say_hello3('홍길동', 20)
g2 = say_hello3('이순신', 30)
print(g1 + g2)

20세 홍길동님 환영합니다.30세 이순신님 환영합니다.

In [10]:
# 매개변수는 여러개 선언이 가능, 리턴값은 1만 가능
# 처리결과가 여러개인 경우 : 자료구조로 묶어서 전달
# 두개의 값을 받아 사칙연산한 결과를 반환하는 함수
def calc(num1, num2):
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = None
    if d != 0:
        d = num1 / num2
    
#    return [a, b, c, d] # 리스트
#    return a, b, c, d # 튜플
    return {'plus':a, 'minus':b, 'multiply':c, 'divide':d}

In [11]:
# 리스트 대입
reusult = calc(10, 5)
print(reusult)
r1, r2, r3, r4 = calc(20, 10) 
print(r1, r2, r3, r4)

{'plus': 15, 'minus': 5, 'multiply': 50, 'divide': 2.0}
plus minus multiply divide

In [12]:
# 튜플 대입
reusult1 = calc(10, 5)
print(reusult1)
ra, rb, rc, rd = calc(20, 10) 
print(ra, rb, rc, rd)

{'plus': 15, 'minus': 5, 'multiply': 50, 'divide': 2.0}
plus minus multiply divide

In [13]:
# 딕셔너리 대입
result2 = calc(10, 5)
print(result2)
re, rf, rg, rh = calc(20, 10) 
print('plus :', result2['plus'])

{'plus': 15, 'minus': 5, 'multiply': 50, 'divide': 2.0}
plus : 15

In [14]:
calc(10, 5)
print(num1, num2, a, b, c, d,) # calc() 함수 내 선언한 변수 사용
# 중요) 함수 내 선언된 변수 : Local variavble(지역변수) => 사용범위는 함수가 실행하는 동안 함수안에서만 사용가능

NameError: name 'num1' is not defined

##  매개변수와 관련된 문법
    - 일반적인 매개변수(parameter)
    - 매개변수가 선언된 순서대로 값을 전달한다

In [15]:
def print_info(name, age, address):
    print(f'이름 : {name}, 나이 : {age}, 주소 : {address}')

In [16]:
print_info('홍길동', 20, '서울') # 순서에 맞춰서 값들을 전달

이름 : 홍길동, 나이 : 20, 주소 : 서울

In [17]:
print_info('홍길동', '서울', 20)

이름 : 홍길동, 나이 : 서울, 주소 : 20

In [18]:
# 매개변수의 수는 같아야 한다
print_info('홍길동')

TypeError: print_info() missing 2 required positional arguments: 'age' and 'address'

## 기본값이 있는 매개변수
    - 매개변수에 값을 대입(기본값 설정)
        - 호출할 때 값 전달이 안되면 기본값을 사용

In [19]:
def print_info2(name = None, age = -1, address = None):
    print(f'이름 : {name}, 나이 : {age}, 주소 : {address}')

In [20]:
print_info2('이순신', 30, '서울')

이름 : 이순신, 나이 : 30, 주소 : 서울

In [21]:
# argument 생략 시 기본값을 함수내에서 사용
print_info2()

이름 : None, 나이 : -1, 주소 : None

In [22]:
# name, age는 전달 address는 기본값
print_info2('홍길동', 20)

이름 : 홍길동, 나이 : 20, 주소 : None

In [23]:
# name은 전달 age, address는 기본값
print_info2('강감찬')

이름 : 강감찬, 나이 : -1, 주소 : None

In [24]:
# address만 전달 name, age는 기본값 - positional argument로는 불가 => 뒤쪽의 매개변수에만 값을 전달할 수 없다.
print_info2('부산')
print_info2(None, -1, '부산')

이름 : 부산, 나이 : -1, 주소 : None
이름 : None, 나이 : -1, 주소 : 부산

In [25]:
# keyword agrument : 매개변수를 지정해서 값을 전달
print_info2(address = '부산')

이름 : None, 나이 : -1, 주소 : 부산

In [26]:
print_info2(age = 40, address = '부산', name ='강감찬') # keyword agrument 사용 시 순서 상관없이 대입

이름 : 강감찬, 나이 : 40, 주소 : 부산

In [27]:
# 기본값이 없는 매개변수를 먼저 선언 후 기본값이 있는 매개변수를 선언
def print_info3(name, age, address = None, email = None): 
    print(f'이름 : {name}, 나이 : {age}, 주소 : {address}, 이메일 : {email}')

In [28]:
# 기본값이 없는 것과 있는 매개변수들이 혼용된 경우, 기본값이 없는 매개변수에는 반드시 값을 전달해야한다.
# 기본값이 없는 매개변수 : 필수입력사항
# 기본값이 있는 매개변수 : 선택입력사항
print_info3()

TypeError: print_info3() missing 2 required positional arguments: 'name' and 'age'

In [29]:
print_info3('홍길동', 20)
print_info3(name = '홀길동', age = 20)

이름 : 홍길동, 나이 : 20, 주소 : None, 이메일 : None
이름 : 홀길동, 나이 : 20, 주소 : None, 이메일 : None

## 가변인자
    - 정해지지 않은 개수의 정수를 받아서 합계를 리턴하는 함수

In [30]:
def sum_function(num_list):
    # argument : 자료구조
    sum_value = 0
    for v in num_list:
        sum_value += v
    return sum_value

In [31]:
result = sum_function([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
result

55

In [32]:
r = sum_function([10, 20, 30])
r

60

In [33]:
# 가변인자 : 개수가 정해지지 않은 개수의 값을 처리할 경우 사용
# * 변수명 - 튜플로 처리, 호출할 때는 전달할 값들(argument)을 나열하여 전달
def sum_function2(*num_list):
    print(type(num_list), num_list)
    sum_value = 0
    for v in num_list:
        sum_value += v
    return sum_value

In [34]:
r1 = sum_function2(1, 2, 3, 4, 5)
print(r1)

<class 'tuple'> (1, 2, 3, 4, 5)
15

In [35]:
sum_function2(1, 2, 3)

<class 'tuple'> (1, 2, 3)

6

In [36]:
sum_function2(1, 2, 3, 4, 5, 6, 109, 290, 309)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 109, 290, 309)

729

In [37]:
sum_function2()

<class 'tuple'> ()

0

In [38]:
# **변수명(가변인자) : 딕셔너리로 처리, 호출할 때는 keyword argument 형식으로 전달
def print_info(**info):
    print(type(info), info)
    return_value = ''
    for key, value in info.items():
        return_value = f'{return_value}, {key}:{value}'
    return return_value

In [39]:
print_info()

<class 'dict'> {}

''

In [40]:
print_info(name = '홍길동')
print_info(나이 = 20, 주소 = '서울')

<class 'dict'> {'name': '홍길동'}
<class 'dict'> {'나이': 20, '주소': '서울'}

', 나이:20, 주소:서울'

In [41]:
print(print_info(이름 = '홍길동', 주소 = '서울', 이메일 = 'a@a.com', 취미 = '독서'))

<class 'dict'> {'이름': '홍길동', '주소': '서울', '이메일': 'a@a.com', '취미': '독서'}
, 이름:홍길동, 주소:서울, 이메일:a@a.com, 취미:독서

In [42]:
#가변인자는 한함수에 종류별(*, **)로 하나씩만 가능
def test_fn(*a, *b,*c): 
    pass

SyntaxError: invalid syntax (Temp/ipykernel_5408/929974945.py, line 2)

In [43]:
def test_fn2(*args, **kwargs):
    pass

In [44]:
# 일반변수와 같이 선언할 경우 가변인자는 마지막에 와야한다.
    pass
def test_fn2(var1, var2, *args, **kwargs, var3):

IndentationError: unexpected indent (Temp/ipykernel_5408/1819170925.py, line 2)

In [45]:
def test_fn2(var1, var2, var3, *args, **kwargs):
    pass

# 함수는 일급시민객체
- 함수를 변수에 할당, 함수를 다른 함수에 호출할때 argument로 전달, 함수가 리턴값으로 다른 함수를 반환할 수 있다
- 함수도 값으로 처리할 수 있다.

In [46]:
def my_fn(name = None):
    print(str(name) + '님 안녕하세요')
    return '리턴값'

In [47]:
# 함수 호출
# r1, r2 에는 my_fn()함수의 실행결과(리턴값)가 더장
r1 = my_fn('홍길동')
r2 = my_fn()
print('='*15)
print(r1, r2)

홍길동님 안녕하세요
None님 안녕하세요
===============
리턴값 리턴값

In [48]:
# my_fn()함수 자체가 your_fn()에 저장
your_fn = my_fn

In [49]:
your_fn('이순신')

이순신님 안녕하세요

'리턴값'

In [50]:
test_fn = your_fn
test_fn()

None님 안녕하세요

'리턴값'

In [51]:
def calc(num1, num2):
    # 처리방법을 구현
    # 처리할 값이 없음 => 매개변수로 받는다
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    print(a, b, c)

In [52]:
calc(10, 20)

30 -10 200

In [53]:
# 함수를 매개변수의 argument로 전달
def calculator(func):
    # 처리할 값은 있음
    # 어떻게 처리할 방벖이 없음 => 처리방법(함수)을 매개변수로 받는다.
    num1, num2 = 10, 20
    result = func(num1, num2)
    print('calculator()결과 :', result)

In [54]:
def plus(n1, n2):
    return n1 + n2

def minus(n1, n2):
    return n1 - n2

def multiply(n1, n2):
    return n1 * n2

In [55]:
calculator(plus)

calculator()결과 : 30

In [56]:
calculator(minus)

calculator()결과 : -10

In [57]:
calculator(multiply)

calculator()결과 : 200

## lambda 표현식
    - 함수를 단일구문(식)으로 작성하는 방법
    - 다시 사용할 필요 없이 함수 호출할 때 넘겨줄 함수를 만드는 경우 주로 사용
    - 익명함수라고도 함

In [58]:
def plus(n1, n2):
    return n1 + n2

In [59]:
# lambda [매개변수] : 리턴값처리

In [60]:
x = lambda n1, n2 : n1 + n2
x(1, 2)

3

In [61]:
# 하나의 값을 받아서 제곱한 값을 반환한 함수
y = lambda v : v**2

In [62]:
y(10), y(2), y(5)

(100, 4, 25)

In [63]:
calculator(lambda n1 , n2 : n1 + n2)

calculator()결과 : 30

In [64]:
calculator(lambda n1, n2 : n1/n2)

calculator()결과 : 0.5

In [65]:
def fn(num):
    print(num)

In [66]:
fn(10)

10

In [67]:
l = [10, 20, 30]
# 각원소에 * 10 (mapping)
# map(각 원소들을 어떻게 처리할 지 정의한 함수, iteralbe)

In [68]:
def m10(x):
    return x * 10

In [69]:
list(map(  m10    , l))

[100, 200, 300]

In [70]:
list(map(lambda x:x*10, l))

[100, 200, 300]

## docstring
    - 함수 구현 시 함수에 대한 설명을 문자열로 정의하는 것
    - 선언부와 구현부 사이에 여러줄(''' ''')을 이용하여 작성
    - 작성하는 내용
        - 함수 설명
        - 매개변수에 관한 설명
        - 리턴값에 대한 설명
        - 발생 Exception(Error)에 관한 설명

In [71]:
def print_info(name, age):
    '''
    회원 정보를 출력하는 함수
    회원의 이름과 나이를 받아서 출력하고 나이의 10배를 반환한다
    [parameter]
        name : string - 회원 이름
        age : int - 회원의 나이
    [return value]
        int - 나이의 10배 값
    [Exception]
        발생가능한 Error에 관한 설명
    '''
    print(f'이름 : {name}, 나이: {age}')
    return age * 10

In [72]:
# 쥬피터 노트북에서 docstring을 조회하는 방법
# 함수명?
print_info?

In [ ]:
print?

In [73]:
# 함수명작성한 상태에서 shift + tab
# tab : 자동완성
# shift + tab : docstring을 팝업으로 확인
print_info